.header {
  display: flex;
  margin: 20px 20px 60px 20px;
  font-family: 'hero-new-hairline', sans-serif;
  font-size: 30pt;
  font-weight: 900;
}

.right-header {
  margin-left: auto;
}

.container {
  font-family: 'hero-new-hairline', sans-serif;
  font-size: 20pt;
  font-weight: 400;
  transition: background-color 0.5s;
}

.projects {
  margin-right: auto;
  line-height: 35px;
  width: 300px;
}

.exercises {
  line-height: 35px;
  margin-left: auto;
  width: 300px;
  text-align: right;
}
  

/*===== PAGES =====*/

.image {
  object-fit: cover;
  width: 900px;
  height: 620px;
}

.desc {
  vertical-align: top;
  margin-left: 43px;
  margin-top: 0;
  width: 40%;
}

.desc2 {
  vertical-align: top;
  margin-left: 43px;
  margin-top: 35px;
  width: 40%;
}

.interview {
  display: flex;
  position: absolute;
  margin-left: 250px;
  margin-right: 20px;
  opacity: 0;
}

.rock-garden {
  display: flex;
  position: absolute;
  margin-left: 250px;
  margin-right: 20px;
  opacity: 0;
}

.portfolio {
  display: flex;
  position: absolute;
  margin-left: 250px;
  margin-right: 20px;
  opacity: 0;
}

.hover {
  display: flex;
  position: absolute;
  margin-left: 250px;
  margin-right: 20px;
  opacity: 0;
}

.wikipedia {
  display: flex;
  position: absolute;
  margin-left: 250px;
  margin-right: 20px;
  opacity: 0;
}

.coding-from-life {
  display: flex;
  position: absolute;
  margin-left: 250px;
  margin-right: 20px;
  opacity: 0;
}

.css-animation {
  display: flex;
  position: absolute;
  margin-left: 250px;
  margin-right: 20px;
  opacity: 0;
}

.javascript-sketch {
  display: flex;
  position: absolute;
  margin-left: 250px;
  margin-right: 20px;
  opacity: 0;
}

.p5 {
  display: flex;
  position: absolute;
  margin-left: 250px;
  margin-right: 20px;
  opacity: 0;
}


/*===== HOVER =====*/

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: line-through;
}


