<!DOCTYPE html>
<html>
<head>
	<title>Layouts and Responsive Design</title>
	<link rel="styelsheet" type="text/css" href="assets/main_layout.css">
</head>
<body>
	<div class="conatiner">
		<div class="title">
			<h1>Peonies</h1>
			<h2>Viviann Nguyen</h2>
		</div>
		<div class="content">
			<img src="assets/images/peony.jpg" alt="A peony">
			<p>
				Peony, (genus Paeonia), genus of about 30 species of flowering plants (family Paeoniaceae) known for their large showy blossoms. ... The herbaceous peonies are perennials that grow to a height of almost 1 metre (about 3 feet). They have large, glossy, much-divided leaves borne on annual stems produced by fleshy rootstocks.

			</p>
</body>
</html>