body {
	background-color: black;
	color: lightgray;
	font-family: 'Roboto Serif', sans-serif;
}

.left {
  text-align: left;
  margin-left: 30px;
  margin-right: 20%;
  line-height: 26px;
}

.right {
  text-align: right;
  margin-right: 30px;
  margin-left: 20%;
  line-height: 26px;
}

.red {
  color: red;
}

.purple {
  color: rebeccapurple;
  font-size: 24px;
}

.italics {
  color: white;
  font-style: italic;
  font-size: 20px;
}






.comments {
  text-align: left;
  margin-left: 30px;
  margin-right: 20%;
  line-height: 26px;
}

.replies {
	margin-left: 50px;
}

@keyframes replies { /* flame pulses */
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.replies-1 {
    opacity:1;  
    animation: replies 5s infinite;
}
.replies-2 {
    opacity:1;  
    animation: replies 5s infinite;
    animation-delay: 2s;
}
.replies-3 {
    opacity:1;  
    animation: replies 5s infinite;
    animation-delay: 3s;
}




